nav button {
  background: #ff5c5c;
  border: none; */
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Hero Section */
.hero {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: white;
  padding: 100px 20px;
  text-align: center;
}
.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.hero .btn {
  text-decoration: none;
  color: white;
  background: #ff5c5c;
  padding: 10px 20px;
  border-radius: 5px;
}

/* Sections */
.section {
  padding: 60px 20px;
  max-width: 800px;
  margin: auto;
}
.section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #124170;
}
.section p, .section ul {
  text-align: center;
  color: #124170;
  line-height: 1.6;
}
.section ul {
  list-style: none;
}
.section ul li {
  margin: 10px 70;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #1d1f22;
  color: #4036d6;
}

/* Dark Mode */
body.dark-mode {
  background: #124170;
  color:#124170;
}
body.dark-mode nav {
  background:#124170;
}
body.dark-mode nav button {
  background:#124170;
}
body.dark-mode .hero {
  background: linear-gradient(135deg, #333, #555);
}

body {
  padding: 70px 20px;
}
 #about, #skills {
  background: #124170;
  color: white;
  padding: 30px 20px;
  border-radius: 10px;
  margin-top: 30px; */
}
.same-bg {
  background: #124170;
  color: white;
  padding: 30px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}
